<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %></h2>
<hr />
<%= link_to "New Logsheet", new_logsheet_path %>
<h3>Your Logsheets</h3>
<ul>
  <% @logsheets.each do |logsheet| %>
    <li>
      <%= link_to logsheet.char, logsheet %> - <%= logsheet.exp %> Exp.
      <br />
      <ul>
      <% logsheet.charclasses.each do |charclass| %>
        <li><%= charclass.name %> - <%= charclass.lvls %></li>
      </ul>
      <% end %>
    </li>
  <% end %>
</ul>