<h1>New Logsheet</h1>
<%= form_with(model: @logsheet, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label "Character Name" %>
    <%= f.text_field :char, required: true, placeholder: "Character Name" %>
  </div>

  <div class="field">
    <%= f.label "Experience Points" %>
    <%= f.number_field :exp, min: 0, required: true, value: 0%>
  </div>

  <div class="field">
    <%= f.label :race %>
    <%= f.text_field :race, min: 0, required: true, placeholder: "Race" %>
  </div>

  <div class="field">
    <%= f.label "Class" %>
    <%= f.text_field :name, required: true, placeholder: "Class" %>
  </div>
  <div class="field">
    <%= f.label "Level" %>
    <%= f.text_field :lvls, min: 1, required: true, placeholder: 1 %>
  </div>

  <div class="field">
    <%= f.label :gold %>
    <%= f.number_field :gold, min: 0, required: true, value: 0 %>
  </div>

  <div class="field">
    <%= f.label :downtime %>
    <%= f.number_field :downtime, min: 0, required: true, value: 0 %>
  </div>

    <div class="field">
    <%= f.label :renown %>
    <%= f.number_field :renown, min: 0, required: true, value: 0 %>
  </div>


    <div class="field">
    <%= f.label :dci %>
    <%= f.text_field :dci, placeholder: "DCI #" %>
  </div>


  <%= f.submit class: "ui button green"%>
<% end %>