<div class="ui raised segments">
  <div class="ui red center aligned segment">
      <h1><%= @logsheet.char %></h1>
      <p>DCI #<%= @logsheet.dci %></p>
  </div>
  <div class="ui equal width center aligned padded grid">
      <div class="row">
            <div class="column">
                  <div class="ui segment">
                        <p><%= @logsheet.race %></p>
                  </div>
            </div>
            <div class="column">
                  <div class="ui segment">
                        <% @logsheet.charclasses.each do |charclass| %>
                             <%= charclass.name %> - <%= charclass.lvls %>
                        <% end %>  
                  </div> 
            </div>
            <div class="column">
                  <div class="ui segment">
                        <%= @logsheet.exp %> EXP
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="column">
                  <div class="ui segment">
                       <%= @logsheet.gold %> Gold
                  </div>
            </div>
            <div class="column">
                  <div class="ui segment">
                        <%= @logsheet.downtime %> Downtime
                  </div>
            </div>
            <div class="column">
                  <div class="ui segment">
                        <%= @logsheet.renown %> Renown
                  </div>
            </div>
      </div>
  </div>
</div>

<ul>
      <% @logsheet.magicitems.each do |magic| %>
        <li><%= magic.name %> - <%= magic.consumable %> - <%= magic.tcpvalue %></li>
      <% end %>

</ul>

<%= @logsheet.tieronetcp %>
<%= @logsheet.tiertwotcp %>
<%= @logsheet.tierthreetcp %>
<%= @logsheet.tierfourtcp %>


<ul>
      <% @logsheet.adventures.each do |adventure| %>
        <li><%= adventure.name %> - <%= adventure.notes %></li>
      <% end %>
</ul>


      <%= link_to 'Delete', @logsheet, method: :delete %>
